@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dvh-screen {
    height: 100vh;
    height: 100dvh;
  }
}
html {
  overscroll-behavior: none;
  /* font-size: 12px;
  line-height: 16px; */
}
body {
  cursor: url("/cursor.png"), auto;
}
* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.enable-ctx-ios {
  -webkit-touch-callout: initial;
}
select {
  min-width: 80px;
  text-indent: 4px;
}
/* .sunken-panel {
  overflow-y: scroll;
} */
button:not(:disabled).active,
input[type="reset"]:not(:disabled).active,
input[type="submit"]:not(:disabled).active {
  box-shadow:
    inset -1px -1px #fff,
    inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf,
    inset 2px 2px grey;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2M8cODAf3t7ewbG/////z948CADAFuqCj64BtLKAAAAAElFTkSuQmCC);
}
.minesweeper-modal {
  pointer-events: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minesweeper-modal > .wrapper {
  pointer-events: all;
}

.minesweeper-modal.mask {
  background-color: rgba(2, 2, 2, 0.7);
}
